<div>

	<h2>Create Pizza</h2>
	<form:form modelAttribute="pizza">
	  <input type="hidden" name="_flowExecutionKey" 
	      value="${flowExecutionKey}"/>
	
	  <b>Size: </b><br/>
	  <radio path="size" label="Small (12-inch)" value="SMALL"/><br/>
    <radio path="size" label="Medium (14-inch)" value="MEDIUM"/><br/>
    <radio path="size" label="Large (16-inch)" value="LARGE"/><br/>
    <radio path="size" label="Ginormous (20-inch)" value="GINORMOUS"/><br/>
	  <br/>
	  
	  <b>Toppings: </b><br/>
    <!-- Here is more than one checkbox! -->
	  <checkbox path="toppings" items="${toppingsList}" 
	                   delimiter="<br/>"/><br/><br/>

	      
	  <input type="submit" class="button" 
	      name="_eventId_addPizza" value="Continue"/>
	  <input type="submit" class="button" 
	      name="_eventId_cancel" value="Cancel"/>          
	</form>
</div>
